@define-color foreground #eeeeee;
@define-color foreground-focused #f78800;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: "GohuFont 11 Nerd Font","FiraCode Nerd Font", "JetBrainsMono Nerd Font", "Sarasa Term SC Nerd";
    font-size: 1.04em;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}
.modules-right {
	padding-right: 1em;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.focused {
    color: @foreground-focused;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#battery {

}

#battery,
#network,
#temperature,
#bluetooth,
#battery,
#pulseaudio,
#cpu,
#memory,
#tray {
	padding-right: 1em;
	padding-left: 1em;
	border: 1px solid white;
	border-radius: 5px;
}
